.advatages__wrap {
  margin: 23px 2% 0;

  @media (min-width: $tablet-width) {
    margin: 40px 5% 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 140px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;

  @media (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 25px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.advantages__item {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.advantages__item--smp {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 5;
  }
}

.advantages__item--trs {
  @media (min-width: $tablet-width) {
    grid-column: 5 / 9;
  }

  @media (min-width: $desktop-width) {
    grid-column: 6 / 9;
  }
}

.advantages__item--clb {
  @media (min-width: $tablet-width) {
    grid-column: 9 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 10 / -1;
  }
}

.advantages__link {
  position: relative;
  margin: 0;
  padding: 15px 0 33px 45px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Open Sans Light", sans-serif;
  text-decoration: none;
  color: #666666;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 5%;
    width: 30px;
    height: 30px;
    background-color: #5f5f5f;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.4rem;
    line-height: 1.95rem;

    &::before {
      top: 15px;
      left: 3%;
      width: 35px;
      height: 35px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 33px;
    font-size: 2.075rem;

    &::before {
      top: 12px;
      left: -52px;
      width: 43px;
      height: 43px;
    }
  }
}

.advantages__link--active {
  border-bottom: 1px solid #add136;

  &::before {
    background-color: #add136;
  }
}

.advantages__span {
  position: absolute;
  top: 16px;
  left: 17px;
  font-size: 1.26rem;
  font-family: "Open Sans Regular", sans-serif;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    left: -35px;
  }
}

.advantages__text {
  position: relative;
  margin-top: 23px;
  text-align: justify;

  @media (min-width: $tablet-width) {
    width: 61.85%;
    margin: 57px 0 0 35.7%;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -41.6%;
      width: 16.14%;
      height: 68%;
      background: url("../img/icon-glasses.svg") no-repeat;
    }
  }
}

.advantages__head {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Open Sans Regular", sans-serif;
  color: #add136;

  @media (min-width: $tablet-width) {
    font-size: 1.875rem;
    line-height: 2.125rem;
  }
}

.advantages__paragraph {
  margin: 23px 0 0 2px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Open Sans Regular", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 1.2rem;
    line-height: 1.95rem;
  }
}
