.advatages__wrap {
  margin-top: 140px;
}

.advantages__list {
  margin: 0 12.03%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.advantages__item--smp {
  width: 20.4%;
}

.advantages__item--trs {
  width: 27.4%;
}

.advantages__item--clb {
  width: 29.4%;
}

.advantages__btn {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 15px 0 33px;
  font-size: 2.075rem;
  font-family: "Open Sans Light";
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 7px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #5f5f5f;
  }
}

.advantages__btn--active {
  border-bottom: 1px solid #add136;

  &::before {
    background-color: #add136;
  }
}

.advantages__btn--smp {
  padding-left: 28.4%;
}

.advantages__btn--trs {
  padding-left: 25.4%;
}

.advantages__btn--clb {
  padding-left: 20%;
}

.advantages__span {
  position: absolute;
  top: 21px;
  left: 23px;
  font-size: 1.26rem;
  font-family: "Open Sans Regular";
  color: #ffffff;
}

.advantages__text {
  position: relative;
  width: 53.85%;
  margin: 57px 0 0 35.7%;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -30.6%;
    width: 16.14%;
    height: 68%;
    background: url("../img/icon-glasses.svg") no-repeat;
  }
}

.advantages__head {
  font-size: 1.575rem;
  font-family: "Open Sans Regular";
  color: #add136;
}

.advantages__paragraph {
  margin: 25px 0 0 2px;
  font-size: 1.075rem;
  line-height: 1.89rem;
  font-family: "Open Sans Regular";
}
