.banner__wrap {
  max-width: 1300px;
  height: 570px;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  background: url("../img/banner_bg.png") no-repeat, rgba(200, 207, 202, 1);
  background-blend-mode: multiply;
}

.banner__title {
  margin: 0 200px;
  font-size: 49.2px;
  line-height: 77px;
  color: #ffffff;
}

.banner__span {
  font-size: 35.2px;
  font-family: "Open Sans Light";
}

.banner__link {
  width: 255px;
  margin: 20px auto 0;
  display: block;
  font-size: 19.2px;
  line-height: 77px;
  text-decoration: none;
  color: #ffffff;
  background-color: #99c50a;
  border-radius: 15px;
}
