.comment {
  min-height: 545px;
  background: url("../img/comment_bg.jpg") no-repeat;
  background-position: center -121px;
}

.comment__wrap {
  margin-top: 46px;
}

.comment__title {
  margin: 0 13.85%;
  text-align: center;
  font-size: 2.45rem;
  font-family: "Open Sans Semibold";
  color: #add136;
}

.comment__paragraph {
  margin: 34px 13.85% 0;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Open Sans Regular";
  color: #949494;
}

.comment__list {
  margin: 94px 6.77% 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.comment__item {
  margin: 0 7% 20px 6.4%;
}

.comment__text {
  width: 398px;
  padding: 0 34px;
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
}

.comment__head {
  padding: 18px 24px 0 0;
  font-size: 1.325rem;
  font-family: "Open Sans Semibold";
  color: #add136;
}

.comment__sentence {
  padding: 10px 4px 19px 0;
  font-size: 0.825rem;
  line-height: 1.45rem;
  font-family: "Open Sans Regular";
  color: #949494;
}

.comment__avatar {
  margin: 33px 0 0 50px;
  display: flex;
  align-items: center;
}

.comment__author {
  margin-left: 17px;
  font-size: 0.95rem;
  font-family: "Montserrat Regular";
  font-style: normal;
  color: #494949;
}
