.copyright {
  margin: 0 1rem;
  padding: 63px 0 20px;
}

.copyright__text {
  text-align: center;
  font-size: 0.825rem;
  line-height: 1.45rem;
  font-family: "Open Sans Regular", sans-serif;
  color: #848484;
}
