@import "variables.scss";

.head {
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.head__wrap {
  margin: 40px 2% 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 40px 5% 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
}

.head__logo {
  margin-right: 11.5%;
}

.head__nav--mobile {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.head__nav--catalog {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 10;
    grid-row: 2 / 3;
  }
}

.head__nav--close {
  display: none;
}

.head__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.head__item {
  margin-top: 13px;
  margin-right: 4.8%;

  &:last-of-type {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.head__link {
  font-size: 0.825rem;
  font-family: "Open Sans semibold", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #666666;
}

.head__btn {
  margin: 15px auto 0;
  padding: 0;
  width: 100%;
  height: 37px;
  font-size: 0.825rem;
  font-family: "Open Sans semibold", sans-serif;
  text-transform: uppercase;
  background-color: #bcda5c;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.head__btn--close {
  margin: 0;
  width: 24px;
  height: 24px;
  align-self: center;
  font-size: 0;
  line-height: 0;
  background-color: #ffffff;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.head__btn--open {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-mobile-menu.svg");
}

.head__btn--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.head__btn--login {
  @media (min-width: $mobile-width) {
    width: 160px;
  }

  @media (min-width: $tablet-width) {
    width: 90px;
    margin: 0;
    grid-column: 12 / -1;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
  }
}

.head__ref {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 20px;
  height: 20px;
  display: none;
  background-image: url("../img/icon_arw_left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(90deg);
  border-radius: 50%;
  z-index: 2;

  &:hover {
    background-color: #666666;
    background-image: url("../img/icon_arw_left-hover.svg");
  }

  @media (min-width: $tablet-width) {
    bottom: 5%;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.head__ref--show {
  display: inline-block;
}
