.head {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 23px;
}

.head__wrap {
  margin: 1.62% 140px 0 10.4%;
  display: flex;
  flex-wrap: wrap;
}

.head__logo {
  margin-right: 11.5%;
}

.head__nav {
  width: 56%;
}

.head__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.head__item {
  margin-top: 13px;
}

.head__item {
  margin-right: 4.8%;
}

.head__link {
  font-size: 0.825rem;
  font-family: "Open Sans semibold";
  text-transform: uppercase;
  text-decoration: none;
  color: #666666;
}

.head__btn {
  margin: 4px 0 0 2.1%;
  padding: 0;
  min-width: 100px;
  height: 37px;
  font-size: 0.825rem;
  font-family: "Open Sans semibold";
  text-transform: uppercase;
  background-color: #bcda5c;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
