.projects__wrap {
  margin-top: 73px;
}

.projects__info {
  position: relative;
  margin: 0 10.77%;
  padding: 0 1.62%;
}

.project__title {
  font-size: 1.825rem;
  font-family: "Open Sans Semibold";
}

.projects__paragraph {
  margin: 16px 29.31% 0 0;
  font-size: 1.075rem;
  line-height: 1.825rem;
  font-family: "Open Sans Regular";
  color: #8f8f8f;
}

.projects__link {
  position: absolute;
  top: 36px;
  right: 21px;
  width: 17.94%;
  height: 45.61%;
  padding: 15px 0 0 0;
  display: block;
  font-size: 0.927rem;
  font-family: "Open Sans Semibold";
  text-decoration: none;
  text-align: center;
  color: #838383;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
}

.projects__list {
  margin: 63px 10.77% 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.projects__item {
  position: relative;
  width: 300px;
  margin: 0 20px 20px;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
}

.projects__item--first {
  background: url("../img/icon_rectangle-big.svg") no-repeat, url("../img/project1.jpg") no-repeat;
}

.projects__item--middle {
  background: url("../img/icon_rectangle-big.svg") no-repeat, url("../img/project2.jpg") no-repeat;
}

.projects__item--last {
  background: url("../img/icon_rectangle-big.svg") no-repeat, url("../img/project3.jpg") no-repeat;
}

.projects__text {
  margin: 250px 0 0 7%;
}

.projects__marker {
  position: absolute;
  top: 12px;
  left: 3px;
  font-size: 0.909rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  color: #ffffff;
}

.projects__price {
  position: absolute;
  top: 172px;
  right: 4.7%;
  width: 46.98%;
  height: 7%;
  padding: 7px 0 0 7px;
  display: block;
  font-size: 16.51px;
  font-style: normal;
  font-family: "Open Sans Semibold";
  color: #ffffff;
  background-color: #26a6d1;
  border-radius: 6px;
}

.projects__span {
  font-family: "Open Sans Regular";
}

.projects__head {
  font-size: 1.075rem;
  font-family: "Open Sans Semibold";
  letter-spacing: 0.3px;
}

.projects__sentence {
  margin: 7px 6px 0 2px;
  font-size: 0.825rem;
  line-height: 1.45rem;
  font-family: "Open Sans Regular";
}

.projects__cont {
  position: relative;
  margin: 47px 21px 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;

  &::before {
    content: "";
    position: absolute;
    top: -29px;
    width: 100%;
    height: 14px;
    background: linear-gradient(to right, #add136 15%, #e3e3e3 15%, #e3e3e3 100%);
    border-radius: 10px;
  }
}

.projects__cont--middle {
  &::before {
    background: linear-gradient(to right, #add136 66%, #e3e3e3 66%, #e3e3e3 100%);
  }
}

.projects__value {
  font-size: 0.825rem;
  font-family: "Open Sans Semibold";
}

.projects__ref {
  position: relative;
  margin: 21px 0 26px 36.6%;
  display: inline-block;
  font-size: 0.95rem;
  font-family: "Open Sans Semibold";
  text-transform: none;
  text-decoration: none;
  color: #484848;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -22px;
    width: 12px;
    height: 16px;
    background: url("../img/icon_rectangle-small.svg") no-repeat;
  }
}
