.promo {
  background: url("../img/icon_promo-bg.svg") no-repeat;
  background-size: 58px;
  background-position: 52.5% 99px;
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.promo__wrap {
  text-align: center;
}

.promo__title {
  margin: 194px 29.23% 50px;
  font-size: 1.95rem;
  line-height: 3.125rem;
  font-family: "Open Sans Semibold", sans-serif;
  text-transform: uppercase;
}

.promo__paragraph {
  margin: 0 13.85% 38px;
  font-size: 1.2rem;
  line-height: 1.95rem;
  font-family: "Open Sans Regular", sans-serif;
}
