* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans Regular", sans-serif;
  color: #515151;
  overflow-x: hidden;
}

.wrap {
  max-width: 1300px;
  margin: 0 auto;
}

@font-face {
  font-family: "Open Sans Light";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Open Sans Light.woff2") format("woff2"), url("../fonts/Open Sans Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Open Sans Regular.woff2") format("woff2"), url("../fonts/Open Sans Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Semibold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Open Sans Semibold.woff2") format("woff2"), url("../fonts/Open Sans Semibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat Regular.woff2") format("woff2"), url("../fonts/Montserrat Regular.woff") format("woff");
}

h2,
h3,
p {
  margin: 0;
}

ul,
img {
  margin: 0;
  padding: 0;
}
